div {
    border-style: solid;
    border-width: 3px;
}

.container {
    background: #333333;
}

.title {
    font-size: 30px;
    color: white;
    padding-left: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.row {
    color: white;
    border-color: white;
}

img {
    width: 250px;
    height: auto;
}
